/**
 * @author alessioborgi
 * @created 03 / 05 / 2021 - 17:09
 * @project LOGIN
 */


/* This file is a CSS file. It will handle all the customization of some items that will use it.
   In particular the Nodes customization and the customization of the vertex that are been dragged */


 .visNode{
     -fx-font-size: 15;      /*It increases the size of the Vertex's ID */
     -fx-font-weight: bold;  /*It the Vertex's ID in bold */
     -fx-padding: 4 14 4 14;   /*It reduces the padding between the text and the border (TOP-RIGHT-BOTTOM-LEFT) */


     -fx-background-color: white;    /*It sets the Vertex's background white */
     -fx-border-color: black;        /*It sets the Vertex's border black */
     -fx-background-radius: 22;      /*It makes the Vertex's background circular */
     -fx-border-radius: 22;          /*It sets the Vertex's border circular */
 }

 .dragged{
     -fx-background-color: red;
     -fx-stroke: red;
     -fx-opacity: .4;
 }

